.theme-default-content:not(.custom) {
    margin: 0;
}
#iframe-view {
    position: fixed;
    right: 150px;
    top: 50%;
    margin-top: -339px;
    padding: 48px 23px 38px 16px;
    width: 350px;
    height: 708px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    background-image: url('https://www.uviewui.com/common/iPhoneX_model.png');
    background-repeat: no-repeat;
    background-size: 100%;
}